@import '~antd/dist/antd.css';
@import 'MediaQueries';
// variables
$text-primary:#000;
$bgPrimary:#fff;
$bgSecondary: #F9F9F9;
$pink: #0071bd;
$light-blue: #e6f7ff;
$border: #d9d9d9;
$backGroundColor:#800000;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ant-menu.ant-menu-dark{
background-color: $backGroundColor;
}

.app{
  display: flex;
  overflow: hidden;
}

.navbar{
  flex: 0.2;
  background-color: $backGroundColor;
}

.main{
  flex: 0.8;
  width: 100%;
  
}
.routes{
  padding: 20px;
}