@media screen and (max-width:800px){
  .app{
      flex-direction: column;
      overflow: hidden;
  }

  .navbar{
      flex: 1;
  }

  .main{
      flex: 1;
      margin-top: 90px;
      margin-left: 0px;
      margin-right: 10px;
  }

  .nav-container{
      height: 8vh;
      position:fixed;
      width: 100%;
      z-index: 100;
      background-color: var(--bgSecondary);
  }

  .menu-control-container{
      display: block !important;
  }

  .ant-menu{
      position: absolute;
      right: 0px;
  }
  .home-title{
      font-size: 1.4rem !important;
  }
  .show-more{
      font-size: 1.3rem !important;
  }
}
