@import 'global';
.navbar{
  flex: 0.13;
  background-color: $backGroundColor;
  width: 272px;
}

.nav-container{
  position: fixed;
  left: 0;
  height: 100vh;
  margin: 0px;
  background-color: $backGroundColor;
}

.logo-container{
  background-color: $backGroundColor;
  display: flex;
  padding: 20px;
  align-items: center;
  width: 100%;
}
.logo{
  margin:0 0 0 15px;
}
.logo a{
 color: white;
}
.menu-control-container{
    display: none !important;
    position: absolute !important;
    right: 10px !important;
    top: 25px !important;
    font-size: 1.2rem !important;
    background-color: $backGroundColor !important;
    border: none !important;
}

@media screen and (max-width:800px){
    .app{
        flex-direction: column;
        overflow: hidden;
    }

    .navbar{
        flex: 1;
    }

    .main{
        flex: 1;
        margin-top: 90px;
        margin-left: 0px;
        margin-right: 10px;
    }

    .nav-container{
        height: 8vh;
        position:fixed;
        width: 100%;
        z-index: 100;
        background-color: white;
    }
  
    .menu-control-container{
        display: block !important;
    }

    .ant-menu{
        position: absolute;
        right: 0px;
    }
    .home-title{
        font-size: 1.4rem !important;
    }
    .show-more{
        font-size: 1.3rem !important;
    }
}